<form (ngSubmit) = "store()">
    <button type="submit"> Store</button>
</form>
<div class="fighter-list">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Poids(kg)</th>
                <th>Taille(cm)</th>
                <th>IMC</th>
                <th>Catégorie IMC</th>
                <th>Classe MMA</th>
                <th>Créé le</th>
                <th>Modifié le</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
            @if(fighters.length >0) {
                @for (fighter of fighters; track fighter.id) {
                    <tr>
                        <td>{{fighter.id}}</td>
                        <td>{{fighter.first_name}}</td>
                        <td>{{fighter.last_name}}</td>
                        <td>{{fighter.age}}</td>
                        <td>{{fighter.weight_kg}}</td>
                        <td>{{fighter.height_cm}}</td>
                        <td>{{fighter.bmi}}</td>
                        <td>{{fighter.bmi_category}}</td>
                        <td>{{fighter.mma_weight_class}}</td>
                        <td>{{fighter.created_at}}</td>
                        <td>{{fighter.updated_at}}</td>
                        <td>
                            <button type="button" class="detail"><i class="fa-display"></i>A</button>
                            <button type="button" class="update"><i class="fa-display"></i>M</button>
                            <button type="button" class="delete" (click)="deleteFighter(fighter.id)"><i class="fa-display"></i>S</button>
                            <button type="button" class="lock"><i class="fa-display"></i>B</button>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>

</div>
