.fighter-list {
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid #150564;
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 20%;
}

table {
    padding: 15px;
    border-radius: 2px;
    border: 2px solid #150564;

}


th {
    padding: 10px;
}

td {
    height: 30px;
    padding: 10px;
    font-size: 1.1rem;
    align-items: center;
}

button {
    width: 40px;
    height: 30px;
    padding: 5px;
    margin: 2px;
    align-items: center;
}