<div class="container">
  <div class="list-combattant">
  <h1>Liste des combattants </h1>

  <input type="text" id="rechercheInput" placeholder="Recherche" (input)="filterTable($event)">

  <table id="userTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Age (ans)</th>
        <th>Weight (kg)</th>
        <th>Height (cm)</th>
        <th>IMC</th>
        <th>Categorie</th>
        <th>MMA Weight Class</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fighter of fighters">
        <td>{{ fighter.id }}</td>
        <td>{{ fighter.FirstName }}</td>
        <td>{{ fighter.LastName }}</td>
        <td>{{ fighter.age }}</td>
        <td>{{ fighter.weight }}</td>
        <td>{{ fighter.height }}</td>
        <td>{{ fighter.BMI }}</td>
        <td>{{ fighter.BMI_Category }}</td>
        <td>{{ fighter.MMA_Weight_class }}</td>
        <td>
          <button type="button" class="btn edit" data-tooltip="Éditer" (click)="ouvrirModal(figther)">✏️</button>
          <button type="button" class="btn delete" data-tooltip="Supprimer" >🗑️</button>
      </td>
      </tr>
    </tbody>
  </table>

  <!-- MODALE D'ÉDITION -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h2>Modifier le combattant</h2>

    <label>Id :</label>
    <input type="number" [(ngModel)]="combattantEnEdition.id" />
    <label>Nom :</label>
    <input type="text" [(ngModel)]="combattantEnEdition.FirstName" />

    <label>Prénom :</label>
    <input type="text" [(ngModel)]="combattantEnEdition.LastName" />

    <label>Âge :</label>
    <input type="number" [(ngModel)]="combattantEnEdition.age" />

    <label>Poids (kg) :</label>
    <input type="number" [(ngModel)]="combattantEnEdition.weight" />

    <label>Taille (cm) :</label>
    <input type="number" [(ngModel)]="combattantEnEdition.height" />

    <div class="modal-actions">
      <button class="btn save" (click)="enregistrer()">💾 Enregistrer</button>
      <button class="btn cancel" (click)="showModal = false">❌ Annuler</button>
    </div>
  </div>

</div>
</div>