<div class="container">
  <div class="list-combattant">
  <h1>Liste des combattants </h1>

  <input type="text" id="rechercheInput" placeholder="Recherche" (input)="filterTable($event)">

  <table id="userTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Age (ans)</th>
        <th>Weight (kg)</th>
        <th>Height (cm)</th>
        <th>IMC</th>
        <th>Categorie</th>
        <th>MMA Weight Class</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Paul Barrè</td>
        <td>Beavogui</td>
        <td>20 ans</td>
        <td>75</td>
        <td>180</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Marie</td>
        <td>Sia Diawara</td>
        <td>25ans</td>
        <td>60</td>
        <td>170</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
</div>