<div class="container">
  <div class="list-combattant">
    <h1>Liste des combattants</h1>

    <input type="text" id="rechercheInput" placeholder="Recherche" (input)="filterTable($event)" />

    <table id="userTable">
      <thead>
        <tr>
          <th>id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>age</th>
          <th>weight</th>
          <th>height</th>
          <th>BMI</th>
          <th>BMI_Category</th>
          <th>MMA_Weight_class</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Paul Barrè</td>
          <td>Beavogui</td>
          <td>20 ans</td>
          <td>75</td>
          <td>180</td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn edit" data-tooltip="Éditer">✏️</button>
            <button type="button" class="btn delete" data-tooltip="Supprimer">🗑️</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Marie</td>
          <td>Sia Diawara</td>
          <td>25ans</td>
          <td>60</td>
          <td>170</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
